.dockerignore
.env
.git
.gitignore
.vs
.vscode
.github
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
Logs/
node_modules/
tests/
test/
*Tests/
*.Tests/
*IntegrationTests/
*.IntegrationTests/
*.md
docker-compose.yml
docker-compose.override.yml
*.db
