USE [TaskMonitoringApp]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChangeTodoStatus]    Script Date: 13-02-2025 06:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[usp_ChangeTodoStatus]
(
	@UserId nvarchar(450),
	@TodoId int,
	@StatusToUpdate int --- The status of the todo. Possible values:
                           -- 1 = Running
                           -- 2 = Completed
                           -- 3 = Ended
)

as 
begin
	   -- Declare status constants
    DECLARE @Running INT = 1,
            @Completed INT = 2,
            @Ended INT = 3;

	DECLARE @CurrentDateTime datetime = GETDATE();

	--- Steps
	-- 1. Task status is running and not delete-> then allow the todo to changed to completed
	-- 2. Task is other than running -> complete,ended,deleted -> changed to ended...
	-- 3. todo move to running if -> task is in running and not deleted
							-- else -> Not Allowed stay in the completed...


	DECLARE @TodoCurrentStatus int;
	DECLARE @TaskCurrentStatus int;
	DECLARE @TaskEndDate Datetime;
	DECLARE @TaskIsDeleted bit;

	select @TodoCurrentStatus = td.Status, @TaskCurrentStatus =  t.TaskStatus, @TaskEndDate =  t.EndDate, @TaskIsDeleted = t.IsDeleted
	from Todo td
	left join Tasks t on t.Id = td.TaskId
	where td.UserId = t.UserId
	and t.UserId = @UserId
	and td.IsDeleted = 0
	and td.Id = @TodoId
	and td.EndDate > @CurrentDateTime

	IF @TodoCurrentStatus IS NULL
    BEGIN
        RAISERROR ('Todo must be in an active state!', 16, 1);
        RETURN;
    END

	DECLARE @IsTaskActive bit = 
	CASE 
		WHEN @TaskCurrentStatus = @Running and @TaskIsDeleted = 0 and @TaskEndDate > @CurrentDateTime
		then 1 else 0
	END;

	IF(@StatusToUpdate = @Completed)
	BEGIN 
		UPDATE Todo
		SET UpdatedOn = @CurrentDateTime,
			CompletedOn = CASE WHEN @IsTaskActive = 1 THEN @CurrentDateTime ELSE NULL END,
			EndedOn = CASE WHEN @IsTaskActive = 0 THEN @CurrentDateTime ELSE NULL END,
			Status = CASE WHEN @IsTaskActive = 1 THEN @Completed ELSE @Ended END
		WHERE ID = @TodoId AND UserId = @UserId
	END
	ELSE IF(@StatusToUpdate = @Running)
	BEGIN
		IF(@IsTaskActive = 1)
		BEGIN
			UPDATE TODO	
			SET UpdatedOn = @CurrentDateTime,
				Status = @Running
			WHERE Id = @TodoId AND UserId = @UserId
		END
		ELSE 
		BEGIN
			RAISERROR ('Not allowed to change the status!', 16, 1);
            RETURN;
		END
	END
	ELSE 
	BEGIN
        RAISERROR ('Todo Change Status must be valid!', 16, 1);
        RETURN;
    END

	-- Return success message
        PRINT 'Task status updated successfully!';
END
GO
