USE [TaskMonitoringApp]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateEndedTask]    Script Date: 13-02-2025 06:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateEndedTask](
@UserId nvarchar(256)
)
as
begin 

	DECLARE @TaskStatusCompleted INT = 2; -- Completed
	DECLARE @TaskStatusEnded INT = 3;    -- Ended

	-- Change the status of the ended goals as Date has passed but goalStatus has not changed....
	;WITH TaskToUpdate AS (
		SELECT Id, EndDate 
		FROM Tasks
		WHERE UserId = @UserId
			AND EndDate < GETDATE() -- EndDate as datetime must be in the past
			AND TaskStatus NOT IN (@TaskStatusCompleted, @TaskStatusEnded) -- Task must be either running or not started
			AND IsDeleted = 0 -- Task should not be deleted
	)
	UPDATE g
	SET g.TaskStatus = 3, -- Change the goal status to 'Ended'
		g.UpdatedOn = GETDATE(),
		g.EndedOn = gtu.EndDate
	FROM Tasks g
	INNER JOIN TaskToUpdate gtu ON g.Id = gtu.Id
	WHERE g.UserId = @UserId;
end
GO
