CREATE OR ALTER  PROCEDURE [dbo].[usp_GetTaskById] (
	@UserId nvarchar(450),
	@TaskId int,
	@Mode int			-- The mode 
					    -- 0 = Tasks - Model
						-- 1 = TaskDTO - Model
						-- 2 = TaskNameDTO - Model
)
as 
begin 
SET NOCOUNT ON;

	BEGIN TRANSACTION;

	BEGIN TRY

		-- Change the status of the ended tasks as Date has passed but taskStatus has not changed....
		EXEC usp_UpdateEndedTask @UserId;

		if(@Mode = 0)
			begin 
				select t.*
				from Tasks t
				where t.UserId = @UserId and t.Id = @TaskId and IsDeleted = 0;
			end
		else if(@Mode = 1)
			begin
				select t.Id, 
				t.Name,
				t.EndDate,
				t.Priority,
				t.Repeat,
				t.RepeatWeekList,
				t.Description,
				t.TaskStatus,
				t.UserId,
				t.CompletedOn,
				t.EndedOn,
				t.IsScheduled,
				t.IsStarted,
				t.StartDate,
				t.StartOptionType
				from Tasks t
				where t.UserId = @UserId and t.Id = @TaskId and IsDeleted = 0;
			end
		else if(@Mode = 2)
			begin 
				select t.Id,
				t.Name,
				t.UserId
				from Tasks t
				where t.UserId = @UserId and t.Id = @TaskId and IsDeleted = 0;
			end
		else 
			begin 
				RAISERROR ('Invalid @Mode To Access Data From usp_GetTaskById', 16, 1);
				RETURN;
			end

		COMMIT; -- save all changes...
	END TRY
	BEGIN CATCH 
		ROLLBACK; -- withdraw all the changes...

		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);

		return;
	END CATCH
end;
GO
