@tailwind base;
@tailwind components;
@tailwind utilities;


*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Custom scroll bar styling */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #6366f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4f46e5;
}


#globalSearchResults {
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 8px 24px rgba(99,102,241,0.12);
    top: 56px !important;
}

