USE [TaskMonitoringApp_Notes]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateEndedGoal]    Script Date: 12-02-2025 06:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateEndedGoal](
@UserId nvarchar(256)
)
as
begin 

	DECLARE @GoalStatusCompleted INT = 2; -- Completed
	DECLARE @GoalStatusEnded INT = 3;    -- Ended

	-- Change the status of the ended goals as Date has passed but goalStatus has not changed....
	;WITH GoalToUpdate AS (
		SELECT Id, EndDate 
		FROM Goals
		WHERE UserId = @UserId
			AND EndDate < GETDATE() -- EndDate as datetime must be in the past
			AND GoalStatus NOT IN (@GoalStatusCompleted, @GoalStatusEnded) -- Goal must be either running or not started
			AND IsDeleted = 0 -- Goal should not be deleted
	)
	UPDATE g
	SET g.GoalStatus = 3, -- Change the goal status to 'Ended'
		g.UpdatedOn = GETDATE(),
		g.EndedOn = gtu.EndDate
	FROM Goals g
	INNER JOIN GoalToUpdate gtu ON g.Id = gtu.Id
	WHERE g.UserId = @UserId;
end
GO
