USE [TaskMonitoringApp]
GO
/****** Object:  StoredProcedure [dbo].[usp_TodoProgressAnalyses]    Script Date: 13-02-2025 06:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_TodoProgressAnalyses]
(
	@UserId nvarchar(450),
	@Mode int	-- The mode 
					-- 0 = TodoProgressAnalyses - Model
					-- 1 = TodoProgressDTO - Model
)
AS 
BEGIN
			-- The status of the Todos. Possible values:
                -- 0 = NotStarted
                -- 1 = Running
                -- 2 = Completed
                -- 3 = Ended
				-- 4 = ALL

	DECLARE @completedStatus int = 2; -- completed staus
	DECLARE @today datetime = CAST(GETDATE() AS DATE);
	DECLARE @id int;
	DECLARE @totalTodos int;
	DECLARE @completedTodos int;
	DECLARE @productivityForTodays float;

	BEGIN TRANSACTION;

	BEGIN TRY
	    ------------- Add Todo if not added ------------------------------------

		Exec usp_AddTodoFromTask @UserId

		------------- Add Todo if not added ------------------------------------


		------------- Checking if the already todo or not -----------------------
		select top 1 
		@id = id 
		from TodoProgressAnalyses
		where UserId = @UserId 
		and CAST(CalculateDateFor AS DATE) = @today

		--------------------- Fetching the Current data -------------------------------
		;with TodaysTodo AS (
			select COUNT(*) AS TotalTodos, 
				SUM(CASE 
					when Status = @completedStatus 
						then 1 
						else 0 
					END) AS CompletedTodos		
			from Todo 
			where UserId = @UserId
				and CAST(CreatedOn AS date) = @today
				and IsDeleted = 0
		)
		select @totalTodos = t.TotalTodos, @completedTodos = t.CompletedTodos 
		from TodaysTodo t

		------------- Returing data if the todo count is zero -------------------
		
		if(@totalTodos > 0)
			BEGIN
				SELECT @productivityForTodays = CAST(((CAST(@completedTodos AS FLOAT)/@totalTodos) * 100) AS FLOAT)
			END
		else 
			BEGIN 
				set @productivityForTodays = 0
				set @completedTodos = 0
				set @totalTodos = 0
			END

		if(@id is null) -- insert the data....
			BEGIN
				INSERT INTO TodoProgressAnalyses(CreatedOn, UpdatedOn, DeletedOn, CalculateDateFor, TotalTodo, TotalCompletedTodo, TotalMissedTodo, ProductivityForDay, UserId)
				VALUES(GETDATE(), GETDATE(), NULL, @today, @totalTodos, @completedTodos, (@totalTodos - @completedTodos), @productivityForTodays, @UserId)

				-- Get the SCOPE_IDENTITY() for the inserted task
				set @id = SCOPE_IDENTITY();
			END
		ELSE -- UPDATE...
			BEGIN 
				UPDATE TodoProgressAnalyses
				SET TotalTodo = @totalTodos, TotalCompletedTodo = @completedTodos, TotalMissedTodo = (@totalTodos - @completedTodos), ProductivityForDay = @productivityForTodays, UpdatedOn = GETDATE()
				WHERE Id = @id
			END

		----------- Returing Data ---------------
		
		if(@Mode = 1)
			BEGIN 
				select * from TodoProgressAnalyses
				where Id = @id
				and UserId = @UserId
				and IsDeleted = 0
			END
		else if(@Mode = 2)
			BEGIN
				SELECT 
					tpa.id,
					tpa.CalculateDateFor,
					tpa.TotalTodo,
					tpa.TotalCompletedTodo,
					tpa.TotalMissedTodo,
					tpa.ProductivityForDay,
					tpa.UserId
					from TodoProgressAnalyses tpa
					where Id = @id
					and UserId = @UserId
					and IsDeleted = 0
			END

		else 
			BEGIN 
				RAISERROR ('Invalid @Mode To Access Data From usp_TodoProgressAnalyses', 16, 1);
				RETURN;
			END	

		----------- Returing Data ---------------

		COMMIT; -- SAVING ALL THE CHANGES.....
	END TRY
	BEGIN CATCH 
		ROLLBACK; -- withdraw all the changes...

		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
		return;
	END CATCH
END



GO
