USE [TaskMonitoringApp]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChangeTaskStatus]    Script Date: 12-02-2025 01:28:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     procedure [dbo].[usp_ChangeTaskStatus](
@UserId nvarchar(450),
@TaskId int,
@StatusToUpdate int -- The status of the task. Possible values:
                           -- 0 = NotStarted
                           -- 1 = Running
                           -- 2 = Completed
                           -- 3 = Ended
)
as 
begin 
	   -- Declare status constants
    DECLARE @NotStarted INT = 0,
            @Running INT = 1,
            @Completed INT = 2,
            @Ended INT = 3;

	declare @CurrentTaskStatus int;

	select @CurrentTaskStatus = TaskStatus 
	from Tasks 
	where UserId = @UserId
		and Id = @TaskId
		and IsDeleted = 0
		and EndDate > GETDATE();

	if(@CurrentTaskStatus is null) 
	begin 
		RAISERROR ('Task Not Found! Task Must be in Active State', 16, 1);
		RETURN;
	end 


	begin transaction;

	begin try
		if(@StatusToUpdate = @NotStarted) -- Change to NotStarted
			begin 
				if(@CurrentTaskStatus = @Running) -- if Task is in running state then only change allowed... 
					begin 
						update Tasks
						set TaskStatus = @NotStarted, UpdatedOn = GETDATE()
						where Id = @TaskId
						and UserId = @UserId
					end
				else 
					begin
						RAISERROR ('Task must be in running state!', 16, 1);
						RETURN;
					end 
			end
		else if(@StatusToUpdate = @Running) -- Change to running
			begin 
				if(@CurrentTaskStatus in (@NotStarted, @Completed, @Ended)) -- either in complete, notstarted amd Ended state
					begin 
						update Tasks
						set TaskStatus = @Running, UpdatedOn = GETDATE()
						where Id = @TaskId
						and UserId = @UserId
					end
				else 
					begin
						RAISERROR ('Task must be in Active State!', 16, 1);
						RETURN;
					end 
			end
		else if(@StatusToUpdate = @Completed) -- Change to completed
			begin 
				if(@CurrentTaskStatus = @Running) -- if Task is in running state then only change allowed... 
					begin 
						update Tasks
						set TaskStatus = @Completed, UpdatedOn = GETDATE(), CompletedOn = GETDATE()
						where Id = @TaskId
						and UserId = @UserId
					end
				else 
					begin
						RAISERROR ('Task must be in running state!', 16, 1);
						RETURN;
					end 
			end

		else if(@StatusToUpdate = @Ended) -- Change to ended
			begin 
				if(@CurrentTaskStatus = @Running) -- if Task is in running state then only change allowed... 
					begin 
						update Tasks
						set TaskStatus = @Ended, UpdatedOn = GETDATE(), EndedOn = GETDATE()
						where Id = @TaskId
						and UserId = @UserId
					end
				else 
					begin
						RAISERROR ('Task must be in running state!', 16, 1);
						RETURN;
					end 
			end
		else 
			begin
				RAISERROR ('Invalid Task Status!', 16, 1);
				RETURN;
			end 

		commit;
		
		-- Return success message
        PRINT 'Task status updated successfully!';
	end try
	begin catch 
		rollback;
		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	end catch
end 
GO
