USE [TaskMonitoringApp]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllTasksWithStatusByGoalId]    Script Date: 07-02-2025 06:38:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetAllTasksWithStatusByGoalId] 
(
    @UserId NVARCHAR(450), -- The unique identifier of the user.
    @Status INT,           -- The status of the task. Possible values:
                           -- 0 = NotStarted
                           -- 1 = Running
                           -- 2 = Completed
                           -- 3 = Ended
	@GoalId int,
	@Mode int              -- The mode 
					       -- 0 = Tasks - Model
						   -- 1 = TaskDTO - Model
						   -- 2 = TaskNameDTO - Model
)
as 
begin
SET NOCOUNT ON;

	BEGIN TRANSACTION;

	BEGIN TRY

	-- Change the status of the ended tasks as Date has passed but taskStatus has not changed....
	EXEC usp_UpdateEndedTask @UserId;
	
	if(@Mode = 0)
		begin 
			select t.*
			from Tasks t
			where UserId = @UserId
			and IsDeleted = 0
			and EndDate > GETDATE()
			and (@Status is null or t.TaskStatus = @Status)
			and Id in (select taskId from GoalTasks
				where GoalId = @GoalId
				and UserId = @UserId)
		end
	else if(@Mode = 1)
		begin
			select t.Id, t.Name, t.EndDate, t.Priority, t.Repeat, t.RepeatWeekList, t.Description,  t.TaskStatus, t.UserId
				from Tasks t
				where UserId = @UserId
				and IsDeleted = 0
				and EndDate > GETDATE()
				and (@Status is null or t.TaskStatus = @Status)
				and Id in (select taskId from GoalTasks
				where GoalId = @GoalId
				and UserId = @UserId)
		end
	else if(@Mode = 2)
		begin 
			select t.Id, t.Name, t.EndDate, t.Priority, t.Repeat, t.RepeatWeekList, t.Description,  t.TaskStatus, t.UserId
			from Tasks t
			where UserId = @UserId
			and IsDeleted = 0
			and EndDate > GETDATE()
			and (@Status is null or t.TaskStatus = @Status)
			and Id in (select taskId from GoalTasks
				where GoalId = @GoalId
				and UserId = @UserId)
		end
	else 
		begin
			RAISERROR ('Invalid @Mode To Access Data From usp_GetAllTasksWithStatusByGoalId', 16, 1);
			RETURN;
		end

		COMMIT;
	END TRY
	BEGIN CATCH 
		ROLLBACK;

		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
		RETURN;
	END CATCH
end
GO
