USE [TaskMonitoringApp]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddTodoFromTask]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddTodoFromTask]
	@UserId NVARCHAR(450),
	@Status INT, -- The status of the todo. Possible values:
					-- 0 = NotStarted
					-- 1 = Running
					-- 2 = Completed
					-- 3 = Ended
					-- 4 = All
	@Mode INT    -- The mode 
					-- 0 = todos - Model
					-- 1 = todoDTO - Model
AS 
BEGIN

 -- RepeatType posible values
	--	RunOnce = 0,
	--  Daily = 1,
	--  Weekly = 2

DECLARE @ModelMode INT = 0;
DECLARE @ModelDTOMode INT = 1;

DECLARE @RunningStatus INT = 1; -- status as running
DECLARE @AllStatus INT = 4; -- All status

DECLARE @RepeateDaily INT = 1; -- Repeating daily
DECLARE @RepeateWeekly INT = 2;

DECLARE @Today DATETIME = CAST(CAST(GETDATE() AS DATE) AS DATETIME);  -- Start of today
DECLARE @CurrentDateTime DATETIME = GETDATE();
DECLARE @Tomorrow DATETIME = DATEADD(DAY, 1, @Today);  -- Start of tomorrow
DECLARE @CurrentWeekday INT = (DATEPART(WEEKDAY, GETDATE()) + 5) % 7; -- Adjusted weekday (Mon = 0, Sun = 6)

BEGIN TRANSACTION;

	BEGIN TRY
		IF @Status = @RunningStatus
		BEGIN
			;WITH task AS (
				SELECT t.Id 
				FROM Tasks t
				WHERE t.UserId = @UserId
				  And t.TaskStatus = @RunningStatus -- runnig status 
				  AND (
					  t.Repeat = @RepeateDaily -- repeate daily
					  OR (t.Repeat = @RepeateWeekly -- repeate weekly
							AND t.RepeatWeekList 
							LIKE '%' + CAST(@CurrentWeekday AS VARCHAR) + '%'
						 )
				  )
				  AND t.IsDeleted = 0
				  AND t.id NOT IN (
					  select td.TaskId from Todo td
					  where
						td.CreatedOn >= @Today
						AND td.CreatedOn < @Tomorrow
						AND td.UserId = @UserId
						AND td.IsDeleted = 0
				  )
			) 

			-- Insert tasks INTo Todo for the user
			INSERT INTO Todo(EndDate, Status, CreatedOn, UpdatedOn, TaskId, UserId)
			SELECT @Tomorrow, 1, @CurrentDateTime, @CurrentDateTime, t.Id, @UserId
			FROM task t; -- Insert each taskId from the CTE
		END

		-- Return success message
		PRINT 'Todo Added successfully!';

		IF @Mode = @ModelMode -- 0 return all the data....
			BEGIN 
			 -- Select and return the newly created Todo records
				SELECT td.Id,
					td.EndDate,
					td.Status,
					td.CreatedOn, 
					td.UpdatedOn, 
					td.DeletedOn, 
					td.TaskId,
					td.UserId,
					t.Name AS TaskName,
					t.EndDate AS TaskEndDate,
					t.CreatedOn AS TaskCreatedOn, 
					t.UpdatedOn AS TaskUpdatedOn, 
					t.DeletedOn AS TaskDeletedOn, 
					t.TaskStatus AS TaskStatus, 
					t.Description AS TaskDescription,
					t.Priority AS TaskPriority,
					t.Repeat AS TaskRepeat,
					t.RepeatWeekList As TaskRepeatWeekList
				FROM Todo td
				JOIN Tasks t ON td.TaskId = t.Id
				WHERE td.UserId = @UserId
					  AND td.CreatedOn >= @Today
					  AND td.CreatedOn < @Tomorrow
					  AND (@Status = @AllStatus OR td.Status = @Status)
			END
		ELSE IF @Mode = @ModelDTOMode
			BEGIN
			 -- Select and return the newly created Todo records
				SELECT td.Id,
					td.EndDate,
					td.Status,
					td.TaskId,
					td.UserId,
					t.Name AS TaskName,
					t.EndDate AS TaskEndDate,
					t.TaskStatus AS TaskStatus, 
					t.Description AS TaskDescription,
					t.Priority AS TaskPriority,
					t.Repeat AS TaskRepeat,
					t.RepeatWeekList As TaskRepeatWeekList
				FROM Todo td
				JOIN Tasks t ON td.TaskId = t.Id
				WHERE td.UserId = @UserId
					  AND td.CreatedOn >= @Today
					  AND td.CreatedOn < @Tomorrow
					  AND (@Status = @AllStatus OR td.Status = @Status)
			END
		ELSE 
			BEGIN
				RAISERROR ('Invalid @Mode To Access Data From usp_AddTodoFromTask', 16, 1);
			END

		COMMIT;
   END TRY
   BEGIN CATCH
		ROLLBACK;

		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
		RETURN;
   END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_AddUpdateTaskWithGoals]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddUpdateTaskWithGoals]
(
    @Name NVARCHAR(MAX),
    @EndDate DATETIME,
    @TaskStatus INT,
    @Description NVARCHAR(MAX),
    @Priority INT,
    @Repeat INT,
    @RepeatWeekList NVARCHAR(MAX),
    @TaskId INT,
    @GoalIds NVARCHAR(MAX), -- multiple seperated with comma "1,2,3,4" so on...
    @UserId NVARCHAR(450),
	@Mode INT -- values 
				-- 1 = Add
				-- 2 = Update
)
AS
BEGIN
-- The status of the Goals. Possible values:
                           -- 0 = NotStarted
                           -- 1 = Running
                           -- 2 = Completed
                           -- 3 = Ended
						
	DECLARE @Running INT = 1;
	DECLARE @currentDateTime DATETIME = GETDATE();

	DECLARE @ListOfGoalIds TABLE (Id INT);

	INSERT INTO @ListOfGoalIds (Id)
	SELECT CAST(value AS INT) FROM STRING_SPLIT(@GoalIds, ',');

	-- Start a transaction
    BEGIN TRANSACTION;

    BEGIN TRY
		------------------------ INSERT NEW TASK --------------------------
		IF @Mode = 1
			BEGIN 
				---------------------- Insert TASK --------------------------
				INSERT INTO Tasks(Name, EndDate, CreatedOn, UpdatedOn, TaskStatus, Description, Priority,	Repeat, RepeatWeekList, UserId)
				VALUES(@Name, @EndDate, GETDATE(), GETDATE(), @TaskStatus, @Description, @Priority, @Repeat, @RepeatWeekList, @UserId);

				----------------------- UPDATE TASKID ----------------------
				SET @TaskId = SCOPE_IDENTITY();
			END
		------------------------- UPDATE EXISTING TASK ------------------------
		ELSE IF @Mode = 2
			BEGIN 
				IF EXISTS(SELECT ID FROM Tasks WHERE ID = @TaskId AND UserId = @UserId AND IsDeleted = 0)
					BEGIN 
						UPDATE Tasks
							SET 
								Name = @Name,
								EndDate = @EndDate,
								UpdatedOn = @currentDateTime,
								TaskStatus = @TaskStatus,
								Description = @Description,
								Priority = @Priority,
								Repeat = @Repeat,
								RepeatWeekList =  @RepeatWeekList
							WHERE 
								UserId = @UserId
								AND Id = @TaskId
								AND IsDeleted = 0
					END
				ELSE 
					BEGIN
						RAISERROR ('Task Data Not Found!', 16, 1);
						RETURN;
					END
			END

		-------------------- DELEATE RELATIONS BETWEEN GOAL AND TASK ---------------------------
		DELETE FROM GoalTasks
			WHERE TaskId = @TaskId
				AND UserId = @UserId
				AND GoalId NOT IN (SELECT ID FROM @ListOfGoalIds);


		--------------------- ADD NEW RELATIONS BETWEEN GOAL AND TASK ----------------------------
		INSERT INTO GoalTasks (GoalId, TaskId, UserId)
		SELECT 
			GIDs.Id AS GoalId,
			@TaskId AS TaskId,
			@UserId AS UserId
		FROM @ListOfGoalIds GIDs
		WHERE GIDs.Id NOT IN (
			SELECT gt.GoalId FROM
				GoalTasks gt
				LEFT JOIN Goals g ON g.Id = gt.GoalId
				WHERE g.UserId = @UserId
				AND gt.UserId = @UserId
				AND gt.TaskId = @taskId
				AND g.IsDeleted = 0
			)
        
		------------------ RETURN UPDATED TASK ID ----------------------
		SELECT @TaskId AS Id;

        
        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;

		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
		RETURN;
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ChangeGoalStatus]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[usp_ChangeGoalStatus](
@UserId NVARCHAR(450),
@GoalId INT,
@StatusToUpdate INT -- The status of the goal. Possible values:
                           -- 0 = NotStarted
                           -- 1 = Running
                           -- 2 = Completed
                           -- 3 = Ended
)
AS 
BEGIN 
	   -- Declare status constants
    DECLARE @NotStarted INT = 0,
            @Running INT = 1,
            @Completed INT = 2,
            @Ended INT = 3;

	DECLARE @CurrentDateTime DATETIME = GETDATE();

	DECLARE @CurrentGoalStatus INT;

	SELECT @CurrentGoalStatus = GoalStatus 
	FROM Goals 
	WHERE UserId = @UserId
		AND Id = @GoalId
		AND IsDeleted = 0
		AND EndDate > @CurrentDateTime;

	IF @CurrentGoalStatus IS NULL
	BEGIN 
		RAISERROR ('Goal Not Found! Goal Must be in Active State', 16, 1);
		RETURN;
	END 


	BEGIN transaction;

	BEGIN TRY
		IF @StatusToUpdate = @NotStarted -- Change to NotStarted
			BEGIN 
				IF @CurrentGoalStatus = @Running -- if Goal is in running state then only change allowed... 
					BEGIN 
						UPDATE Goals
						SET GoalStatus = @NotStarted, UpdatedOn = @CurrentDateTime
						WHERE Id = @GoalId
						AND UserId = @UserId
					END
				ELSE 
					BEGIN
						RAISERROR ('Goal must be in running state!', 16, 1);
						RETURN;
					END 
			END
		ELSE IF @StatusToUpdate = @Running -- Change to running
			BEGIN 
				IF @CurrentGoalStatus in (@NotStarted, @Completed, @Ended) -- either in complete, notstarted amd Ended state
					BEGIN 
						UPDATE Goals
						SET GoalStatus = @Running, UpdatedOn = @CurrentDateTime
						WHERE Id = @GoalId
						AND UserId = @UserId
					END
				ELSE 
					BEGIN
						RAISERROR ('Goal must be in Active State!', 16, 1);
						RETURN;
					END 
			END
		ELSE IF @StatusToUpdate = @Completed -- Change to completed
			BEGIN 
				IF @CurrentGoalStatus = @Running -- if Goal is in running state then only change allowed... 
					BEGIN 
						UPDATE Goals
						SET GoalStatus = @Completed, UpdatedOn = @CurrentDateTime, CompletedOn = @CurrentDateTime
						WHERE Id = @GoalId
						AND UserId = @UserId
					END
				ELSE 
					BEGIN
						RAISERROR ('Goal must be in running state!', 16, 1);
						RETURN;
					END 
			END

		ELSE IF @StatusToUpdate = @Ended -- Change to Ended
			BEGIN 
				IF @CurrentGoalStatus = @Running -- if Goal is in running state then only change allowed... 
					BEGIN 
						UPDATE Goals
						SET GoalStatus = @Ended, UpdatedOn = @CurrentDateTime, EndedOn = @CurrentDateTime
						WHERE Id = @GoalId
						AND UserId = @UserId
					END
				ELSE 
					BEGIN
						RAISERROR ('Goal must be in running state!', 16, 1);
						RETURN;
					END 
			END
		ELSE 
			BEGIN
				RAISERROR ('Invalid Goal Status!', 16, 1);
				RETURN;
			END 

		COMMIT;
		
		-- Return success message
        PRINT 'Goal status updated successfully!';
	END TRY
	BEGIN CATCH 
		ROLLBACK;
		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END catch
END 
GO
/****** Object:  StoredProcedure [dbo].[usp_ChangeTaskStatus]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     procedure [dbo].[usp_ChangeTaskStatus](
@UserId nvarchar(450),
@TaskId int,
@StatusToUpdate int -- The status of the task. Possible values:
                           -- 0 = NotStarted
                           -- 1 = Running
                           -- 2 = Completed
                           -- 3 = Ended
)
as 
begin 
	   -- Declare status constants
    DECLARE @NotStarted INT = 0,
            @Running INT = 1,
            @Completed INT = 2,
            @Ended INT = 3;

	declare @CurrentTaskStatus int;

	select @CurrentTaskStatus = TaskStatus 
	from Tasks 
	where UserId = @UserId
		and Id = @TaskId
		and IsDeleted = 0
		and EndDate > GETDATE();

	if(@CurrentTaskStatus is null) 
	begin 
		RAISERROR ('Task Not Found! Task Must be in Active State', 16, 1);
		RETURN;
	end 


	begin transaction;

	begin try
		if(@StatusToUpdate = @NotStarted) -- Change to NotStarted
			begin 
				if(@CurrentTaskStatus = @Running) -- if Task is in running state then only change allowed... 
					begin 
						update Tasks
						set TaskStatus = @NotStarted, UpdatedOn = GETDATE()
						where Id = @TaskId
						and UserId = @UserId
					end
				else 
					begin
						RAISERROR ('Task must be in running state!', 16, 1);
						RETURN;
					end 
			end
		else if(@StatusToUpdate = @Running) -- Change to running
			begin 
				if(@CurrentTaskStatus in (@NotStarted, @Completed, @Ended)) -- either in complete, notstarted amd Ended state
					begin 
						update Tasks
						set TaskStatus = @Running, UpdatedOn = GETDATE()
						where Id = @TaskId
						and UserId = @UserId
					end
				else 
					begin
						RAISERROR ('Task must be in Active State!', 16, 1);
						RETURN;
					end 
			end
		else if(@StatusToUpdate = @Completed) -- Change to completed
			begin 
				if(@CurrentTaskStatus = @Running) -- if Task is in running state then only change allowed... 
					begin 
						update Tasks
						set TaskStatus = @Completed, UpdatedOn = GETDATE(), CompletedOn = GETDATE()
						where Id = @TaskId
						and UserId = @UserId
					end
				else 
					begin
						RAISERROR ('Task must be in running state!', 16, 1);
						RETURN;
					end 
			end

		else if(@StatusToUpdate = @Ended) -- Change to ended
			begin 
				if(@CurrentTaskStatus = @Running) -- if Task is in running state then only change allowed... 
					begin 
						update Tasks
						set TaskStatus = @Ended, UpdatedOn = GETDATE(), EndedOn = GETDATE()
						where Id = @TaskId
						and UserId = @UserId
					end
				else 
					begin
						RAISERROR ('Task must be in running state!', 16, 1);
						RETURN;
					end 
			end
		else 
			begin
				RAISERROR ('Invalid Task Status!', 16, 1);
				RETURN;
			end 

		commit;
		
		-- Return success message
        PRINT 'Task status updated successfully!';
	end try
	begin catch 
		rollback;
		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	end catch
end 
GO
/****** Object:  StoredProcedure [dbo].[usp_ChangeTodoStatus]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[usp_ChangeTodoStatus]
(
	@UserId nvarchar(450),
	@TodoId int,
	@StatusToUpdate int --- The status of the todo. Possible values:
                           -- 1 = Running
                           -- 2 = Completed
                           -- 3 = Ended
)

as 
begin
	   -- Declare status constants
    DECLARE @Running INT = 1,
            @Completed INT = 2,
            @Ended INT = 3;

	DECLARE @CurrentDateTime datetime = GETDATE();

	--- Steps
	-- 1. Task status is running and not delete-> then allow the todo to changed to completed
	-- 2. Task is other than running -> complete,ended,deleted -> changed to ended...
	-- 3. todo move to running if -> task is in running and not deleted
							-- else -> Not Allowed stay in the completed...


	DECLARE @TodoCurrentStatus int;
	DECLARE @TaskCurrentStatus int;
	DECLARE @TaskEndDate Datetime;
	DECLARE @TaskIsDeleted bit;

	select @TodoCurrentStatus = td.Status, @TaskCurrentStatus =  t.TaskStatus, @TaskEndDate =  t.EndDate, @TaskIsDeleted = t.IsDeleted
	from Todo td
	left join Tasks t on t.Id = td.TaskId
	where td.UserId = t.UserId
	and t.UserId = @UserId
	and td.IsDeleted = 0
	and td.Id = @TodoId
	and td.EndDate > @CurrentDateTime

	IF @TodoCurrentStatus IS NULL
    BEGIN
        RAISERROR ('Todo must be in an active state!', 16, 1);
        RETURN;
    END

	DECLARE @IsTaskActive bit = 
	CASE 
		WHEN @TaskCurrentStatus = @Running and @TaskIsDeleted = 0 and @TaskEndDate > @CurrentDateTime
		then 1 else 0
	END;

	IF(@StatusToUpdate = @Completed)
	BEGIN 
		UPDATE Todo
		SET UpdatedOn = @CurrentDateTime,
			CompletedOn = CASE WHEN @IsTaskActive = 1 THEN @CurrentDateTime ELSE NULL END,
			EndedOn = CASE WHEN @IsTaskActive = 0 THEN @CurrentDateTime ELSE NULL END,
			Status = CASE WHEN @IsTaskActive = 1 THEN @Completed ELSE @Ended END
		WHERE ID = @TodoId AND UserId = @UserId
	END
	ELSE IF(@StatusToUpdate = @Running)
	BEGIN
		IF(@IsTaskActive = 1)
		BEGIN
			UPDATE TODO	
			SET UpdatedOn = @CurrentDateTime,
				Status = @Running
			WHERE Id = @TodoId AND UserId = @UserId
		END
		ELSE 
		BEGIN
			RAISERROR ('Not allowed to change the status!', 16, 1);
            RETURN;
		END
	END
	ELSE 
	BEGIN
        RAISERROR ('Todo Change Status must be valid!', 16, 1);
        RETURN;
    END

	-- Return success message
        PRINT 'Task status updated successfully!';
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllGoalsWithStatus]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetAllGoalsWithStatus]
(
    @UserId NVARCHAR(450), -- The unique identifier of the user.
    @Status INT,           -- The status of the goal. Possible values:
                           -- 0 = NotStarted
                           -- 1 = Running
                           -- 2 = Completed
                           -- 3 = Ended
						   -- 4 = All
	@Mode int              -- The mode 
					       -- 0 = Goals - Model
						   -- 1 = GoalDTO - Model
						   -- 2 = GoalNameDTO - Model
)
as 
begin 
	SET NOCOUNT ON;

	BEGIN TRANSACTION;

	BEGIN TRY

	-- Change the status of the ended goals as Date has passed but goalStatus has not changed....
	EXEC usp_UpdateEndedGoal @UserId;


	if(@Mode = 0)
		begin 
			select g.*
			from Goals g
			where g.UserId = @UserId 
			and (@Status = 4 or g.GoalStatus = @Status)
			and IsDeleted = 0;
		end
	else if(@Mode = 1)
		begin
			select g.Id, g.Name, g.EndDate, g.Priority, g.Description,  g.GoalStatus, g.UserId
			from Goals g
			where g.UserId = @UserId 
			and (@Status = 4 or g.GoalStatus = @Status)
			and IsDeleted = 0;
		end
	else if(@Mode = 2)
		begin 
			select g.Id, g.Name, g.UserId
			from Goals g
			where g.UserId = @UserId 
			and (@Status = 4 or g.GoalStatus = @Status)
			and IsDeleted = 0;
		end
	else 
		begin 
			RAISERROR ('Invalid @Mode To Access Data From usp_GetAllTasksWithStatusByGoalId', 16, 1);
			RETURN;
		end

		COMMIT;
	END TRY
	BEGIN CATCH 
		ROLLBACK;

		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
		return;
	END CATCH

end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllGoalsWithStatusByTaskId]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetAllGoalsWithStatusByTaskId] 
(
    @UserId NVARCHAR(450), -- The unique identifier of the user.
    @Status INT,            -- The status of the task. Possible values:
                           -- 0 = NotStarted
                           -- 1 = Running
                           -- 2 = Completed
                           -- 3 = Ended
	@TaskId int,
	@Mode int              -- The mode 
					       -- 0 = Tasks - Model
						   -- 1 = TaskDTO - Model
						   -- 2 = TaskNameDTO - Model
)
as 
begin
SET NOCOUNT ON;

	DECLARE @currentDateTime DATETIME = GETDATE()
	BEGIN TRANSACTION;

	BEGIN TRY

	-- Change the status of the ended tasks as Date has passed but taskStatus has not changed....
	EXEC usp_UpdateEndedGoal @UserId;

	if(@Mode = 0) 
		begin 
			select g.* 
			from Goals g
			right join GoalTasks gt on gt.GoalId = g.id
			where gt.TaskId = @TaskId
			and (@Status = 4 or g.GoalStatus = @Status)
			and gt.UserId = g.UserId
			and g.UserId = @UserId
			and g.IsDeleted = 0
			and g.EndDate > @currentDateTime

		end
	else if (@Mode = 1)
		begin
			select g.Id, g.Name, g.EndDate, g.Priority, g.Description,  g.GoalStatus, g.UserId
			from Goals g
			right join GoalTasks gt on gt.GoalId = g.id
			where gt.TaskId = @TaskId
			and (@Status = 4 or g.GoalStatus = @Status)
			and gt.UserId = g.UserId
			and g.UserId = @UserId
			and g.IsDeleted = 0
			and g.EndDate > @currentDateTime
		end
	else if (@Mode = 2)
		begin 
			select g.Id, g.Name, g.UserId
			from Goals g
			right join GoalTasks gt on gt.GoalId = g.id
			where gt.TaskId = @TaskId
			and (@Status = 4 or g.GoalStatus = @Status)
			and gt.UserId = g.UserId
			and g.UserId = @UserId
			and g.IsDeleted = 0
			and g.EndDate > @currentDateTime
		end
	else 
		begin
			RAISERROR ('Invalid @Mode To Access Data From usp_GetAllTasksWithStatusByGoalId', 16, 1);
			RETURN;
		end
	
		COMMIT;
	END TRY
	BEGIN CATCH 
		ROLLBACK;
		
		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
		return;
	END CATCH
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllTasksWithStatus]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[usp_GetAllTasksWithStatus]
(
    @UserId NVARCHAR(450), -- The unique identifier of the user.
    @Status INT,           -- The status of the task. Possible values:
                           -- 0 = NotStarted
                           -- 1 = Running
                           -- 2 = Completed
                           -- 3 = Ended
	@Mode int              -- The mode 
					       -- 0 = Tasks - Model
						   -- 1 = TaskDTO - Model
						   -- 2 = TaskNameDTO - Model
)
as 
begin 
	SET NOCOUNT ON;

	BEGIN TRANSACTION;

	BEGIN TRY

	-- Change the status of the ended tasks as Date has passed but taskStatus has not changed....
	EXEC usp_UpdateEndedTask @UserId;

	if(@Mode = 0) 
		begin
			select t.*
			from Tasks t
			where t.UserId = @UserId
			and (@Status is null or t.TaskStatus = @Status)
			and IsDeleted = 0;
		end
	else if (@Mode = 1)
		begin 
			select t.Id, t.Name, t.EndDate, t.Priority, t.Repeat, t.RepeatWeekList, t.Description,  t.TaskStatus, t.UserId
			from Tasks t
			where t.UserId = @UserId
			and (@Status is null or t.TaskStatus = @Status)
			and IsDeleted = 0;
		end
	else if (@Mode = 2)
		begin
			select t.Id, t.Name, t.UserId
			from Tasks t
			where t.UserId = @UserId
			and (@Status is null or t.TaskStatus = @Status)
			and IsDeleted = 0;
		end
	else 
		begin
			RAISERROR ('Invalid @Mode To Access Data From usp_GetAllTasksWithStatusByGoalId', 16, 1);
			RETURN;
		end
		COMMIT;
	END TRY
	BEGIN CATCH 
		ROLLBACK;

		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
		return;
	END CATCH

end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllTasksWithStatusByGoalId]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetAllTasksWithStatusByGoalId] 
(
    @UserId NVARCHAR(450), -- The unique identifier of the user.
    @Status INT,           -- The status of the task. Possible values:
                           -- 0 = NotStarted
                           -- 1 = Running
                           -- 2 = Completed
                           -- 3 = Ended
	@GoalId int,
	@Mode int              -- The mode 
					       -- 0 = Tasks - Model
						   -- 1 = TaskDTO - Model
						   -- 2 = TaskNameDTO - Model
)
as 
begin
SET NOCOUNT ON;

	DECLARE @currentDateTime DATETIME = GETDATE()

	BEGIN TRANSACTION;

	BEGIN TRY

	-- Change the status of the ended tasks as Date has passed but taskStatus has not changed....
	EXEC usp_UpdateEndedTask @UserId;
	
	if(@Mode = 0)
		begin 
			select t.*
			from Tasks t
			right join GoalTasks gt on gt.TaskId = t.id
			where gt.GoalId = @GoalId
			and (@Status = 4 or t.TaskStatus = @Status)
			and gt.UserId = t.UserId
			and t.UserId = @UserId
			and t.IsDeleted = 0
			and t.EndDate > @currentDateTime
		end
	else if(@Mode = 1)
		begin
			select t.Id, t.Name, t.EndDate, t.Priority, t.Repeat, t.RepeatWeekList, t.Description,  t.TaskStatus, t.UserId
				from Tasks t
			right join GoalTasks gt on gt.TaskId = t.id
			where gt.GoalId = @GoalId
			and (@Status = 4 or t.TaskStatus = @Status)
			and gt.UserId = t.UserId
			and t.UserId = @UserId
			and t.IsDeleted = 0
			and t.EndDate > @currentDateTime
		end
	else if(@Mode = 2)
		begin 
			select t.Id, t.Name, t.UserId
			from Tasks t
			right join GoalTasks gt on gt.TaskId = t.id
			where gt.GoalId = @GoalId
			and (@Status = 4 or t.TaskStatus = @Status)
			and gt.UserId = t.UserId
			and t.UserId = @UserId
			and t.IsDeleted = 0
			and t.EndDate > @currentDateTime
		end
	else 
		begin
			RAISERROR ('Invalid @Mode To Access Data From usp_GetAllTasksWithStatusByGoalId', 16, 1);
			RETURN;
		end

		COMMIT;
	END TRY
	BEGIN CATCH 
		ROLLBACK;

		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
		RETURN;
	END CATCH
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetGoalById]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetGoalById] (
	@UserId nvarchar(450),
	@GoalId int,
	@Mode int			-- The mode 
					    -- 0 = Goals - Model
						-- 1 = GoalDTO - Model
						-- 2 = GoalNameDTO - Model
)
as 
begin 
SET NOCOUNT ON;

	BEGIN TRANSACTION;

	BEGIN TRY

		-- Change the status of the ended goals as Date has passed but goalStatus has not changed....
		EXEC usp_UpdateEndedGoal @UserId;

		if(@Mode = 0)
			begin
				select g.*
				from Goals g
				where g.UserId = @UserId and g.Id = @GoalId and IsDeleted = 0;
			end
		else if(@Mode = 1)
			begin
				select g.Id, g.Name, g.EndDate, g.Priority, g.Description,  g.GoalStatus, g.UserId
				from Goals g
				where g.UserId = @UserId and g.Id = @GoalId and IsDeleted = 0;
			end
		else if(@Mode = 2)
			begin 
				select g.Id, g.Name, g.UserId
				from Goals g
				where g.UserId = @UserId and g.Id = @GoalId and IsDeleted = 0;
			end
		else 
			begin 
				RAISERROR ('Invalid @Mode To Access Data From usp_GetGoalById', 16, 1);
				RETURN;
			end
		COMMIT; -- save all changes...
	END TRY
	BEGIN CATCH 
		ROLLBACK; -- withdraw all the changes...

		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
		return;
	END CATCH
end;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTaskById]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetTaskById] (
	@UserId nvarchar(450),
	@TaskId int,
	@Mode int			-- The mode 
					    -- 0 = Tasks - Model
						-- 1 = TaskDTO - Model
						-- 2 = TaskNameDTO - Model
)
as 
begin 
SET NOCOUNT ON;

	BEGIN TRANSACTION;

	BEGIN TRY

		-- Change the status of the ended tasks as Date has passed but taskStatus has not changed....
		EXEC usp_UpdateEndedTask @UserId;

		if(@Mode = 0)
			begin 
				select t.*
				from Tasks t
				where t.UserId = @UserId and t.Id = @TaskId and IsDeleted = 0;
			end
		else if(@Mode = 1)
			begin
				select t.Id, t.Name, t.EndDate, t.Priority, t.Repeat, t.RepeatWeekList, t.Description,  t.TaskStatus, t.UserId
				from Tasks t
				where t.UserId = @UserId and t.Id = @TaskId and IsDeleted = 0;
			end
		else if(@Mode = 2)
			begin 
				select t.Id, t.Name, t.UserId
				from Tasks t
				where t.UserId = @UserId and t.Id = @TaskId and IsDeleted = 0;
			end
		else 
			begin 
				RAISERROR ('Invalid @Mode To Access Data From usp_GetTaskById', 16, 1);
				RETURN;
			end

		COMMIT; -- save all changes...
	END TRY
	BEGIN CATCH 
		ROLLBACK; -- withdraw all the changes...

		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);

		return;
	END CATCH
end;
GO
/****** Object:  StoredProcedure [dbo].[usp_TodoProgressAnalyses]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_TodoProgressAnalyses]
(
	@UserId nvarchar(450),
	@Mode int	-- The mode 
					-- 0 = TodoProgressAnalyses - Model
					-- 1 = TodoProgressDTO - Model
)
AS 
BEGIN
			-- The status of the Todos. Possible values:
                -- 0 = NotStarted
                -- 1 = Running
                -- 2 = Completed
                -- 3 = Ended
				-- 4 = ALL

	DECLARE @completedStatus int = 2; -- completed staus
	DECLARE @today datetime = CAST(GETDATE() AS DATE);
	DECLARE @id int;
	DECLARE @totalTodos int;
	DECLARE @completedTodos int;
	DECLARE @productivityForTodays float;

	BEGIN TRANSACTION;

	BEGIN TRY


		------------- Checking if the already todo or not -----------------------
		select top 1 
		@id = id 
		from TodoProgressAnalyses
		where UserId = @UserId 
		and CAST(CalculateDateFor AS DATE) = @today

		--------------------- Fetching the Current data -------------------------------
		;with TodaysTodo AS (
			select COUNT(*) AS TotalTodos, 
				SUM(CASE 
					when Status = @completedStatus 
						then 1 
						else 0 
					END) AS CompletedTodos		
			from Todo 
			where UserId = @UserId
				and CAST(CreatedOn AS date) = @today
				and IsDeleted = 0
		)
		select @totalTodos = t.TotalTodos, @completedTodos = t.CompletedTodos 
		from TodaysTodo t

		------------- Returing data if the todo count is zero -------------------
		
		if(@totalTodos > 0)
			BEGIN
				SELECT @productivityForTodays = CAST(((CAST(@completedTodos AS FLOAT)/@totalTodos) * 100) AS FLOAT)
			END
		else 
			BEGIN 
				set @productivityForTodays = 0
				set @completedTodos = 0
				set @totalTodos = 0
			END

		if(@id is null) -- insert the data....
			BEGIN
				INSERT INTO TodoProgressAnalyses(CreatedOn, UpdatedOn, DeletedOn, CalculateDateFor, TotalTodo, TotalCompletedTodo, TotalMissedTodo, ProductivityForDay, UserId)
				VALUES(GETDATE(), GETDATE(), NULL, @today, @totalTodos, @completedTodos, (@totalTodos - @completedTodos), @productivityForTodays, @UserId)

				-- Get the SCOPE_IDENTITY() for the inserted task
				set @id = SCOPE_IDENTITY();
			END
		ELSE -- UPDATE...
			BEGIN 
				UPDATE TodoProgressAnalyses
				SET TotalTodo = @totalTodos, TotalCompletedTodo = @completedTodos, TotalMissedTodo = (@totalTodos - @completedTodos), ProductivityForDay = @productivityForTodays, UpdatedOn = GETDATE()
				WHERE Id = @id
			END

		----------- Returing Data ---------------
		
		if(@Mode = 1)
			BEGIN 
				select * from TodoProgressAnalyses
				where Id = @id
				and UserId = @UserId
				and IsDeleted = 0
			END
		else if(@Mode = 2)
			BEGIN
				SELECT 
					tpa.id,
					tpa.CalculateDateFor,
					tpa.TotalTodo,
					tpa.TotalCompletedTodo,
					tpa.TotalMissedTodo,
					tpa.ProductivityForDay,
					tpa.UserId
					from TodoProgressAnalyses tpa
					where Id = @id
					and UserId = @UserId
					and IsDeleted = 0
			END

		else 
			BEGIN 
				RAISERROR ('Invalid @Mode To Access Data From usp_TodoProgressAnalyses', 16, 1);
				RETURN;
			END	

		----------- Returing Data ---------------

		COMMIT; -- SAVING ALL THE CHANGES.....
	END TRY
	BEGIN CATCH 
		ROLLBACK; -- withdraw all the changes...

		-- Retrieve error details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
		return;
	END CATCH
END



GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateEndedGoal]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateEndedGoal](
@UserId nvarchar(256)
)
as
begin 

	DECLARE @GoalStatusCompleted INT = 2; -- Completed
	DECLARE @GoalStatusEnded INT = 3;    -- Ended

	-- Change the status of the ended goals as Date has passed but goalStatus has not changed....
	;WITH GoalToUpdate AS (
		SELECT Id, EndDate 
		FROM Goals
		WHERE UserId = @UserId
			AND EndDate < GETDATE() -- EndDate as datetime must be in the past
			AND GoalStatus NOT IN (@GoalStatusCompleted, @GoalStatusEnded) -- Goal must be either running or not started
			AND IsDeleted = 0 -- Goal should not be deleted
	)
	UPDATE g
	SET g.GoalStatus = 3, -- Change the goal status to 'Ended'
		g.UpdatedOn = GETDATE(),
		g.EndedOn = gtu.EndDate
	FROM Goals g
	INNER JOIN GoalToUpdate gtu ON g.Id = gtu.Id
	WHERE g.UserId = @UserId;
end
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateEndedTask]    Script Date: 12-02-2025 01:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateEndedTask](
@UserId nvarchar(256)
)
as
begin 

	DECLARE @TaskStatusCompleted INT = 2; -- Completed
	DECLARE @TaskStatusEnded INT = 3;    -- Ended

	-- Change the status of the ended goals as Date has passed but goalStatus has not changed....
	;WITH TaskToUpdate AS (
		SELECT Id, EndDate 
		FROM Tasks
		WHERE UserId = @UserId
			AND EndDate < GETDATE() -- EndDate as datetime must be in the past
			AND TaskStatus NOT IN (@TaskStatusCompleted, @TaskStatusEnded) -- Task must be either running or not started
			AND IsDeleted = 0 -- Task should not be deleted
	)
	UPDATE g
	SET g.TaskStatus = 3, -- Change the goal status to 'Ended'
		g.UpdatedOn = GETDATE(),
		g.EndedOn = gtu.EndDate
	FROM Tasks g
	INNER JOIN TaskToUpdate gtu ON g.Id = gtu.Id
	WHERE g.UserId = @UserId;
end
GO
